* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}


/* Navigation Bar */
.nav-bar, .bar-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar {
    background-color: #0b2333;
    color: white;
}

.city-searched {
    font-weight: bold;
    margin-left: 20px;
}

#navBarLogo, .burger {
    margin-right: 20px;
    margin-top: 5px;
}

.menu-links, .sideBarText, .burger, .close {
    display: none;
}

.input-group {
    display: flex;
}

input {
    border-radius: 5px;
}

.input-group button {
    background-color: #277cb2;
    border: none;
    border-radius: 5px;
    width: 45px;
}

/* Bar Content */
.bar-container {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.bar-info {
    width: 300px;
    border-radius: 5px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.bar-details {
    margin-left: 5px;
    font-family: 'Quicksand', sans-serif;
}

.bar-details li {
    list-style: none;
}

.bar-phone {
    list-style: none;
    margin-left: 5px;
}

/* Map */
#map {
    display: none;
    width: 100%;
    height: 500px;
}

/* Media queries */
@media (max-width: 600px) {
    * {
        font-size: 16px;
    }
    /* Hamburger Menu */
    #navBarLogo {
        display: none;
    }

    .menu-links {
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        margin: 0;
        padding: 0;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .menu-links li {
        list-style: none;
        padding: 10px;
    }
    
    .menu-links li a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }
    
    .menu-links li a:hover {
        background-color: #555;
        padding: 10px;
    }

    .menu-links.active {
        transform: translateX(0);
    }
    
    .close {
        display: block;
    }

    .close div {
        height: 3px;
    }
    
    
    .close .line1 {
        transform: rotate(-45deg) translate(-3px, 3px);
    }
    
    .close .line2 {
        transform: rotate(45deg) translate(-3px, -3px)
    }
    
    .burger {
        display: block;
    }

    .burger div, .close div {
        width: 23px;
        background-color: white;
        margin: 5px;
        border-radius: 3px;
    }
    
    .burger div {
        height: 2px;
    }

    #close-x {
        margin: auto;
        padding-bottom: 60px;
        display: inline-block;
    }

    #sideBarLogo {
        margin-right: 250px;
        padding: 0;
    }

    .sideBarText {
        display: block;
        font-size: large;
    }

    /* Bar Content */
    .bar-listings {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .bar-container {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
    }
    
    .bar-info {
        width: 300px;
        border-radius: 5px;
        background-color: #f5f5f5;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .bar-details {
        margin-left: 5px;
        font-family: 'Quicksand', sans-serif;
    }

    .image-style {
        height: 250px;
        width: 90vw;
        border-radius: 10px;
    }
}

@media (min-width: 769px) {
    /* Bar Content */
    .bar-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .bar-listings {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

